* {
    margin: 0;
    padding: 0;
}

body {
    font-family: PTSR, arial, sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}


/* IE7 */

@font-face {
    font-family: UB;
    src: url(../fonte/ubuntu.bold.ttf);
}

@font-face {
    font-family: OSS;
    src: url(../fonte/open-sans.semibold.ttf);
}

@font-face {
    font-family: PTS;
    src: url(../fonte/pt-sans.bold.ttf);
}

@font-face {
    font-family: PTSR;
    src: url(../fonte/pt-sans.regular.ttf);
}

.container {
    width: 591px;
    margin: 0px auto;
    padding: 5px 0;
}

.white {
    padding: 60px 0 70px 0;
}

.header {
    background-image: url(../img/menu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    background-attachment: fixed;
    min-height: 588px;
    position: relative;
}

.abs {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(3, 41, 41, 0.55);
    top: 0;
    left: 0;
    z-index: 1;
}

.menu>ul>li {
    display: inline-block;
    list-style: none;
}

.menu {
    padding: 50px;
    font-family: OSS;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a {
    color: #ffffff;
    padding: 0 20px;
    text-decoration: none;
}

ul li a:hover {
    opacity: 0.6;
    color: #65fff2;
}

.logo {
    padding-top: 65px;
    display: block;
}

.button {
    color: #fff;
    font-size: 15px;
    padding: 14px 40px;
    background: #65c25d;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    margin-top: 80px;
    text-decoration: none;
    font-family: PTS;
}
.button2 {
    color: #fff;
    font-size: 15px;
    padding: 14px 40px;
    background: #d2d5da;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    margin-top: 80px;
    text-decoration: none;
    font-family: PTS;
}

.title {
    padding: 40px;
    font-size: 53px;
    font-family: UB;
}

header>p {
    padding: 50px 0;
}

.header_line {
    display: flex;
    flex-direction: row-reverse;
    font-family: PTS;
    font-size: 15px;
    justify-content: center;
}

.header_line>span {
    width: 101px;
    height: 2px;
    size: 3px;
    color: #4d636e;
    opacity: 0.5;
    border: 8px solid transparent;
}

.header_line>p {
    display: block;
    text-align: center;
}

.main {
    text-align: center;
}

.one_three {
    display: block;
}

.one_three h3 {
    margin-bottom: 47px;
    font-family: PTS;
    font-size: 16px;
    border-bottom: 2px solid #e2e3e4;
    padding-bottom: 25px;
    width: 75%;
    margin: 0 auto;
}

.one_three p {
    font-family: PTSR;
    font-size: 14px;
    margin-top: 25px;
}

.wraper_icon {
    min-height: 100px;
}

.grey {
    background-color: #eeeeef;
    padding: 70px 0px;
}
.footer {
  background-color: #50c3af;
  padding: 70px 0px;
}
.one_three_list {
    display: flex;
    flex-direction: row;
}

.one_three span {
    display: block;
    background: red;
    height: 2px;
    margin-bottom: 33px;
}

.one_left {
    float: left;
    width: 50%;
}

.one_right {
    float: right;
    width: 50%;
    text-align: left;
}

.wrapper_img {
    width: 100%;
    height: 170px;
}

.one_left .wrapper_one_fo {
    padding-right: 30px;
}

.one_right .wrapper_one_fo {
    padding-left: 30px;
}

.wrapper_one_fo {
    text-align: left;
}

.wrapper_img img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.wrapper_one_fo h3 {
    margin-bottom: 47px;
    font-family: PTS;
    font-size: 18px;
    border-bottom: 2px solid #e2e3e4;
    padding-bottom: 25px;
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
}

.wrapper_one_fo p {
    font-family: PTSR;
    font-size: 14px;
    margin-top: 25px;
}

.wrapper_one_fo a {
    text-align: left;
}

.white.with_3bl .one_left {
    width: 33.3%;
    text-align: left;
}

.white.with_3bl .one_right {
    width: 33.3%;
}

.white.with_3bl .one_center {
    width: 33.3%;
    float: left;
    text-align: left;
}

.white.with_3bl .one_left .wrapper_one_3bl {
    padding-right: 17px;
}

.white.with_3bl .one_center .wrapper_one_3bl {
    padding: 0 8.5px;
}

.white.with_3bl .one_right .wrapper_one_3bl {
    padding-left: 17px;
}

.white.with_3bl .wrapper_img {
    height: 140px;
}
.grey_supported{
  text-align: left;
}
.left_icon {
    background-image: url(../img/icon4.png);
    background-repeat: no-repeat;
    background-position: center left;
    text-align: left;
    padding: 25px;
}
.line{
      border-bottom: 2px solid #e2e3e4;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%;
      margin: 0 auto;
}
.grey_supported p{
  padding-top: 25px;
  font-family: PTSR;
}
.wrapper_one_3bl h3{
  font-family: PTS;
  font-size: 16px;
  border-bottom: 2px solid #e2e3e4;
  padding-bottom: 25px;
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
}
.wrapper_one_3bl p{
  font-family: PTSR;
  font-size: 14px;
  margin-top: 25px;
  padding-bottom: 25px;
}
.wrapper_one_3bl a{
    font-family: PTSR;
    color: #50c3af;
    font-size: 14px;
    text-decoration: none;
}
.grey_block_left{
    float: left;
    width: 40%;
    text-align: left;
}
.grey_block_left p{
    padding-top: 25px;
    font-family: PTSR;
}
.grey_block_right{
    float: right;
    width: 40%;
    text-align: left;
}
.grey_block_right p{
  padding-top: 25px;
  font-family: PTSR;
}
.icon_left{
  background-image: url(../img/icon_last1.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding: 25px;
}
.icon_right{
  background-image: url(../img/icon_last2.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding: 25px;
}
.last_img{
  float: left;
  width: 40%;
}
.last_img img{
  width: 264px;
  height: 210px;
}
.last_block{
  float: right;
  width: 40%;
  text-align: left;
}
.last_block p{
    padding-top: 25px;
    font-family: PTSR;
}
.last_block h3{
  font-family: PTS;
  font-size: 16px;
}
.last_block a{
  margin-top: 35px;
}
.right_icon {
  background-image: url(../img/icon_foot.png);
  background-repeat: no-repeat;
  background-position: 150px 27px;
  text-align: left;
  padding: 25px
}
.footer_color{
    color: #fff;
}
.line_foot{
  border-bottom: 2px solid #e2e3e4;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
  opacity: 0.5;
}
.footer_color h3{
  font-family: PTS;
  font-size: 16px;
  text-align: center;
}
.white_footer{
  height: 15px;
  margin: 20px 0;
}
.bottom_text{
  float: left;
  font-size: 13px;
  font-family: PTSR;
  color: #aaacaf;
}
.bottom_img{
  float: right;
  display: flex;
}
.bottom_img a:nth-child(2) img {
  padding-left: 4px;
  padding-right: 4px;
}
