body {
	padding: 0;
	margin: 0;
}
header {
	background: #000;
	height: 50px;
	color: #fff;
}
main {
	background: #ccccdf;
}
.basic {
	width: 250px;
}
.basket {
	width: 50px;
}
a {
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: green;
}
.second_screen {
	background-image: url(../img/bg.jpg); no-repeat;
	height: 100vh;
	width: 100vw;
}
.second_screen_two {
	background-image: url(../img/escape-flight.png);
	height: 100vh;
	width: 100vw;
}
h1, h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
}
footer {
	background: #000;
	padding: 10px;
	height: 50px;
	color: #fff;

}