doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")

	body
		.email-contairen
			.email-header
				.email-center
					.email-header-topline
						a.email-logo(href="//site.com")
							img(src="img/logo.png", alt="Logo")

						.email-cocial-wrap
							a(href="#")
								img(src="img/soc_twitter.png", alt="alt")
							a(href="#")
								img(src="img/soc_vk.png", alt="alt")
							a(href="#")
								img(src="img/soc_fb.png", alt="alt")
					.email-headet-top.
						Самое лучшее предложение <br>из всех, которые вы получали
					a(href="#").email-button Подробнее

			.email-content
				.email-center
					.email-tizers-wrap
						.email-tizer-item 
							img(src="img/icon_1.png", alt="Alt")
							p У нас есть лапки
						.email-tizer-item 
							img(src="img/icon_2.png", alt="Alt")
							p ... и бумажные самолетики
						.email-tizer-item 
							img(src="img/icon_3.png", alt="Alt")
							p Кроме того, у нас есть чемодан

					.email-sale-text Заказывая сейчас - получаете скидку

					.mail-products-wrap
						- for (var x = 1; x < 5; x++)
							.mail-products-item
								a(href="#")
									img(src="img/items/" + x + ".jpg", alt="alt")
								.mail-price 2 000 руб
								a(href="#").pruduct-button Заказать
			
			.email-footer.
				ООО “Лучшее предложение” <a href="#">Отписаться от рассылки</a>
